form {
    text-align: center;
}

.mail-label {
    color: white;
    font-size: 1.3em;
}

.mail-label span {
    color: red;
}

.mail-h4 {
    color: white;
    text-align: center;
    margin: 1.5em 0;
    font-size: 2em;
}

.mail-flex {
    width:60%;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.mail-title {
  height: auto;
  width: 30%;
  margin-bottom: 2em;
  text-align: left;
}

.mail-text {
    width: 70%;
    height: auto;
}

.mail-mark {
    width: 60%;
    margin: 0 auto;
}

.mail-mark p {
    color: white;
    font-size: 1.3em;
    text-align: left;
}

.mail-mark span {
    color: red;
}

.mail-message {
    width: 100%;
    box-sizing: border-box;
    border-radius: 0.5em;
    border: none;
}

.mail-textarea {
    width: 100%;
    box-sizing: border-box;
    line-height: 1.5em;
    height: 6em;
    border-radius: 0.5em;
    border: none;
}

.mail-button-content {
    width: 70%;
    height: auto;
    margin-left: auto
}

.mail-button {
    background-color: red;
    border: none;
    color: white;
    font-size: 1.3em;
    padding: 0.3em 2em;
    margin-top: 1em;
    border-radius: 0.3em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.mail-flex2 {
    width: 40%;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.mail-info {
  height: auto;
  width: 80%;
  margin-bottom: 2em;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  color: white;
  font-size: 1.3em;
}

.col-1 {
    display: inline-block;
    width: 40%;
}
.col-2 {
    display: inline-block;
    width: 40%;
}

.mail-thanks-text {
    color: white;
    text-align: center;
}
